<html ng-app = "app">
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
        <script type="text/javascript" src= "NewMethodExample.js"></script>
    <body>
        <div ng-controller="ParentController">
                <p style="font-family:Arial;color:yellow;;width:350px;">{{result}}</p>
                <button ng-click="parentCall()">From Parent</button>
                <button ng-click="childCall()">From Child</button><br>
                

        </div>
            
          
    </body>
</html>