<html ng-app = "app">
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
        <script type="text/javascript" src= ScopeEvent.js></script>
    <body>
            <div ng-controller = "EventController">
                    Root scope <tt>MyEvent</tt> count: {{count}}
                      <div ng-controller="EventController">
                        <button ng-click="$emit('MyEvent')">$emit('MyEvent')</button>
                        <button ng-click="$broadcast('MyEvent')">$broadcast('MyEvent')</button>
                        <br>
                        Middle scope <tt>MyEvent</tt> count: {{count}}
                          <div ng-controller="EventController">
                            Leaf scope <tt>MyEvent</tt> count: {{count}}
                          </div>
                    </div>
            </div>
    </body>
</html>
